{
  "overrides": [
    {
      "files": "*.replacements",
      "options": {
        "parser": "markdown",
        "trailingComma": "none",
        "arrowParens": "avoid",
        "semi": false
      }
    }
  ]
}
